/* I included this for formatting, and so there would be no space on top */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body{
    background-color:#b32036;
    padding: 0px 40px;
}

/* top right bottom left */
main{
    padding: 40px 30px 40px;
    background-color: white;
    border-top: 30px solid #3D3935;
    border-bottom: 30px solid #3D3935;
}

h1{
    padding: 40px 0px 20px 0px;
}

#mainpart {
    padding: 40px 20px 40px 20px;
    background-color: #E9EFF1;
    border: 1px solid #bdc5c7;
    border-radius: 2px;
}

table, th, tr, td{
    border: 1px solid #c5c2c2;
    text-align: left;
    padding: 5px 5px 5px 5px;
    width: 100%;
}

h2{
    color: #b32036;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

p{
    padding: 10px 0px 20px 0px;
    font-size: 15px;
}

table{
    
    border-collapse: collapse;
}

th{
    background-color: #e3e2e2;
}

#addRow{
    font-size: 12px;
    position: relative;
    margin-top:20px;
    margin-bottom:10px;
    padding: 1px 5px 1px 5px;
}

.calcButton{
    background-color: #b32036;
    font-size: 13px;
    border: none;
    color: white;
    table-layout: fixed;
    width: 90px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}


input {
    width: 40px;
    left:20px;
    height: 30px;
}