/* I included this for formatting, and so there would be no space on top */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body{
    background-color:#b32036;
    padding: 0px 40px;
}

/* top right bottom left */
main{
    padding: 40px 40px 20px;
    position: relative;
    /* left: 40px;
    right: 40px; */
    background-color: white;
    border-top: 30px solid #3D3935;
    
    border-bottom: 30px solid #3D3935;
    

}

#mainpart {
    padding: 40px 100px 100px 20px;
    background-color: #E9EFF1;
    border: 1px solid #bdc5c7;
    border-radius: 5px;


}

table, th, tr, td{
    border: 1px solid #c5c2c2;
}

h2{
    color: #b32036;
}

table{
    border-collapse: collapse;
}


th{
    background-color: #e3e2e2;
    width: 100px;
}

input {
    width: 30px;
}