main{
    border-top: 30px solid #3D3935;
    border-bottom: 30px solid #3D3935;

}
#mainpart {
    background-color: #E9EFF1;


}

table, th, tr, td{
    border: 1px solid #c5c2c2;
}

table{
    border-collapse: collapse;
}